# careamics packages
careamics==0.1.0
careamics-portfolio==0.0.15
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
bioimageio.core==0.9.6
bioimageio.spec==0.5.7.4
dnspython==2.8.0
donfig==0.8.1.post1
email-validator==2.3.0
frozenlist==1.8.0
genericache==0.5.2
lightning-utilities==0.15.3
loguru==0.7.3
Markdown==3.10.2
markdown-it-py==4.0.0
mdurl==0.1.2
microssim==0.0.3
multidict==6.7.1
numcodecs==0.16.5
numpy==2.4.3
pooch==1.9.0
propcache==0.4.1
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
python-dotenv==1.2.2
pytorch-lightning==2.6.1
rich==14.3.3
ruyaml==0.91.0
shellingham==1.5.4
torchmetrics==1.4.3
tqdm==4.67.1
typer==0.24.1
typing-inspection==0.4.2
validators==0.35.0
xarray==2026.2.0
yarl==1.23.0
zarr==3.1.6
